# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next/
out/

# Local env files 
.env*.local
ideeen.md

# OS files
.DS_Store
Thumbs.db
